  .form__label {
    color: $color-primary;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: flex-start;
  }
  .form__input {
    width: 100%;
    max-width: 400px;
    height: 40px;
    border: none;
    margin-bottom: 10px;
    padding-left: 10px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: $color-tertiary;
  
    &:focus-within {
      outline: none;
    }
    &:hover {
    background-color: #eaf6fa;
    }
    &:not(:invalid):focus {
    background-color: #d6e0df;
    }
    // &:invalid {
    // background-color: #f2e0e0;
    // }
  
}
  .form__textarea {
    resize: none;
    width: 100%;
    max-width: 400px;
    border: none;
    margin-bottom: 10px;
    padding: 10px 10px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:focus-within {
      outline: none;
    }
    &:hover {
    background-color: #eaf6fa;
    }
    &:not(:invalid):focus {
    background-color: #d6e0df;
    }
    // &:invalid {
    // background-color: #f2e0e0;
    // }
  }
  .form__button {
    width: 100%;
    max-width: 250px;
    height: 50px;
    text-align: center;
    color: $color-tertiary;
    background-color: $color-button;
    border: none;
    margin-bottom: 50px;
  }